{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-laybuy-gateway" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="card">
      <div class="card-header"><i class="fa fa-pencil"></i> {{ text_edit }} </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-laybuy-gateway">

          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input_api_key">{{ entry_api_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_laybuy_gateway_api_key" value="{{ payment_laybuy_gateway_api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control"/>
            </div>
          </div>
          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-merchant-key">{{ entry_merchant_id }}</label>
            <div class="col-sm-10">
              <td><input type="text" name="payment_laybuy_gateway_merchant_id" value="{{ payment_laybuy_gateway_merchant_id }}" placeholder="{{ entry_merchant_id }}" id="input-merchant-id" class="form-control"/></td>
            </div>
          </div>
          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_mode }}</label>
            <div class="col-sm-10">
              <select name="payment_laybuy_gateway_mode" id="input-mode" class="form-control">
                {% if (payment_laybuy_gateway_mode == 1) %} 
                <option value="1" selected="selected">{{ text_live }}</option>
                <option value="0">{{ text_sandbox }}</option>
                {% else %} 
                <option value="1">{{ text_live }}</option>
                <option value="0" selected="selected">{{ text_sandbox }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-debug">{{ entry_debug }}</label>
            <div class="col-sm-10">
              <select name="payment_laybuy_gateway_debug" id="input-debug" class="form-control">
                {% if (payment_laybuy_gateway_debug) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
              <small class="form-text text-muted">{{ help_debug }}</small>
            </div>
          </div>
          
          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_laybuy_gateway_geo_zone_id" id="input-geo-zone" class="form-control">
                  <option value="0">{{ text_all_zones }}</option>
                  {% for geo_zone in geo_zones %} 
                  {% if (geo_zone['geo_zone_id'] == payment_laybuy_gateway_geo_zone_id) %} 
                  <option value="{{ geo_zone['geo_zone_id'] }}" selected="selected">{{ geo_zone['name'] }}</option>
                  {% else %} 
                  <option value="{{ geo_zone['geo_zone_id'] }}">{{ geo_zone['name'] }}</option>
                  {% endif %} 
                  {% endfor %} 
                </select>
            </div>
          </div>
         <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-total">{{ entry_total }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_laybuy_gateway_total" value="{{ payment_laybuy_gateway_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
              <small class="form-text text-muted">{{ help_total }}</small>
            </div>
          </div>
         <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-max-total">{{ entry_max_total }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_laybuy_gateway_max_total" value="{{ payment_laybuy_gateway_max_total }}" placeholder="{{ entry_max_total }}" id="input-max-total" class="form-control" /> 
              <small class="form-text text-muted">{{ help_max_total }}</small>
            </div>
          </div>
          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_laybuy_gateway_order_status_id" id="input-order-status" class="form-control">
                  {% for order_status in order_statuses %} 
                  {% if (order_status['order_status_id'] == payment_laybuy_gateway_order_status_id) %} 
                  <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                  {% else %} 
                  <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                  {% endif %} 
                  {% endfor %} 
                </select>
            </div>
          </div>            
          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-tax-type">{{ entry_tax_type }}</label>
            <div class="col-sm-10">
              <select name="payment_laybuy_gateway_tax" id="input-tax-type" class="form-control">
                {% if (payment_laybuy_gateway_tax != 1) %} 
                <option value="0" selected="selected">{{ text_standard }}</option>
                <option value="1">{{ text_non_standard }}</option>
                {% else %} 
                <option value="0">{{ text_standard }}</option>
                <option value="1" selected="selected">{{ text_non_standard }}</option>
                {% endif %} 
              </select>              
              <small class="form-text text-muted">{{ help_tax }}</small>
            </div>
          </div>
          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_laybuy_gateway_status" id="input-status" class="form-control">
                  {% if (payment_laybuy_gateway_status) %} 
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %} 
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %} 
                </select>
            </div>
          </div>
          <div class=" form-group row">
            <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_laybuy_gateway_sort_order" value="{{ payment_laybuy_gateway_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 
