<div class="card">
  <div class="card-body">
    <div id="laybuy_checkout_logo">{{ text_heading }}</div>
    <div id="laybuy_checkout_text">{{ text_payment }}</div>
    <div id="laybuy_checkout_info">{{ text_instruction }}</div>
  </div>
</div>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>

<script type="text/javascript"><!--
  
$('#button-confirm').on('click', function() {
  $.ajax({
    url: 'index.php?route=extension/payment/laybuy_gateway/send',
    dataType: 'text',
    beforeSend: function() {
      $('#button-confirm').button('loading');
    },
    success: function(response) {
      location = response;
    },
    error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
//--></script>
